<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body_sensors">
    <xacro:macro name="body_sensors" params="v4">

        <xacro:if value="$(arg v4)">
            <!--    Side Right_tof    -->
            <link name="s_right_tof_link"/>
            <link name="s_right_tof_optical_link"/>

            <joint name="body_to_s_right_tof" type="fixed">
                <parent link="body"/>
                <child link="s_right_tof_link"/>
                <origin xyz="-0.082 -0.119 0.04" rpy="3.1415 0.524 -1.57"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="s_right_tof_to_optical_link" type="fixed">
                <parent link="s_right_tof_link"/>
                <child link="s_right_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>

            <!--    Side Left_tof    -->
            <link name="s_left_tof_link"/>
            <link name="s_left_tof_optical_link"/>

            <joint name="body_to_s_left_tof" type="fixed">
                <parent link="body"/>
                <child link="s_left_tof_link"/>
                <origin xyz="-0.082 0.119 0.04" rpy="0 0.524 1.57"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="s_left_tof_to_optical_link" type="fixed">
                <parent link="s_left_tof_link"/>
                <child link="s_left_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>

            <!--    Rear_tof    -->
            <link name="rear_tof_link"/>
            <link name="rear_tof_optical_link"/>

            <joint name="body_to_rear_tof" type="fixed">
                <parent link="body"/>
                <child link="rear_tof_link"/>
                <origin xyz="-0.44 -0.027 0.01" rpy="0 0.3 3.14"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="rear_tof_to_optical_link" type="fixed">
                <parent link="rear_tof_link"/>
                <child link="rear_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>
        </xacro:if>

        <xacro:unless value="$(arg v4)">
            <!--    Side Right_tof    -->
            <link name="s_right_tof_link"/>
            <link name="s_right_tof_optical_link"/>

            <joint name="body_to_s_right_tof" type="fixed">
                <parent link="body"/>
                <child link="s_right_tof_link"/>
                <origin xyz="-0.082 -0.119 0.061" rpy="3.1415 0.524 -1.57"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="s_right_tof_to_optical_link" type="fixed">
                <parent link="s_right_tof_link"/>
                <child link="s_right_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>

            <!--    Side Left_tof    -->
            <link name="s_left_tof_link"/>
            <link name="s_left_tof_optical_link"/>

            <joint name="body_to_s_left_tof" type="fixed">
                <parent link="body"/>
                <child link="s_left_tof_link"/>
                <origin xyz="-0.082 0.119 0.061" rpy="0 0.524 1.57"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="s_left_tof_to_optical_link" type="fixed">
                <parent link="s_left_tof_link"/>
                <child link="s_left_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>

            <!--    Rear_tof    -->
            <link name="rear_tof_link"/>
            <link name="rear_tof_optical_link"/>

            <joint name="body_to_rear_tof" type="fixed">
                <parent link="body"/>
                <child link="rear_tof_link"/>
                <origin xyz="-0.44 -0.027 0.01" rpy="0 0.3 3.14"/>
                <axis xyz="1 0 0"/>
            </joint>
            <joint name="rear_tof_to_optical_link" type="fixed">
                <parent link="rear_tof_link"/>
                <child link="rear_tof_optical_link"/>
                <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
                <axis xyz="1 0 0"/>
            </joint>
        </xacro:unless>

    </xacro:macro>
</robot>
