<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensorhead">
        <xacro:macro name="sensorhead">
		<!-- Traking frame comes from the realsesne _pose_frame which will share the link with realsense_link
		    (parent) t265_left_optical_link -> t265_pose_frame -> frontsensorhead -> extrinsics_offset_link -> body (children) 
		    (parent) t265_left_optical_link -> d435_1_infra1_optica_link -> d435_2_infra1_optical_link (children)
                 --> 



       <!-- start here: this defines the entry point for t265 based state estimate-->
       <link name="t265_fisheye1_frame"/>
       <link name="t265_pose_frame"/>
       <joint name="t265_fisheye1_frame_to_center" type="fixed">
         <parent link="t265_pose_frame"/>
         <child link="t265_fisheye1_frame"/>
         <origin xyz="0.0 0.032 0.0" rpy="0 0 0"/>
         <axis xyz="1 0 0"/>
       </joint>

	<!-- branch 1 -->
	<!--connect to reset of the body -->
	 <link name="front_sensor_head_link"/>
	 <joint name="realsense_link_to_front_sensor_head_link" type="fixed">
      <parent link="t265_pose_frame"/>
      <child link="front_sensor_head_link"/>
      <!--<origin xyz="-0.031 0.0 -0.0456"  rpy="0 0 0"/>-->  <!-- the zed -->
      <origin xyz="-0.0292 0.0 -0.0507" rpy="0 0 0"/> <!-- CAD SH->T265center(mm) X: 29.2 Y:0 Z: 50.7-->
      <axis xyz="1 0 0"/>
    </joint>
      

        <!-- begin branch 2 from t265_fisheye1_frame -->
        <!-- connect to the rest of the sensors -->	
	<link name="t265_fisheye1_optical_frame"/>
	<joint name="t265_left_frame_to_t265_left_optical" type="fixed">
	<parent link="t265_fisheye1_frame"/>
        <child link="t265_fisheye1_optical_frame"/>
	    <origin xyz="0.0 0.0 0.0"  rpy="-1.571 0 -1.571"/>
        <axis xyz="1 0 0 "/>
	</joint>

	<!--connect the d435is -->
	<link name="d435_1_infra1_optical_parent_link"/>
	<joint name="d435_1_to_t265_link" type="fixed">
	   <parent link="t265_fisheye1_optical_frame"/>
       <child link="d435_1_infra1_optical_parent_link"/>
	   <origin xyz="-0.0443 0.0480 0.0297" rpy="0.4140 0.4525 1.7815"/> 
	   <axis xyz="0 0 1"/>
     </joint>

        <!--connect the rest of the d435i components-->
    <link name="d435i_1_link"/>
	<joint name="d435i_1_parent_to_camera_link" type="fixed">
       <parent link="d435_1_infra1_optical_parent_link"/>
	   <child link="d435i_1_link"/>
	   <origin xyz="0 0 0" rpy="1.571 -1.571 0.0"/>
	   <axis xyz="1 0 0"/>
	</joint>

    <link name="d435_2_infra1_optical_parent_link"/>
	<joint name="d435_2_to_1_link" type="fixed">
	  <parent link="d435_1_infra1_optical_parent_link"/>
	  <child link="d435_2_infra1_optical_parent_link"/>
	  <origin xyz="-0.0283 -0.1421 0.0455" rpy="-0.6118 -0.0832 -0.3444"/>
	  <axis xyz="0 0 1"/>
	</joint>

	<!--connect of the rest of the d435i components-->
    <link name="d435i_2_link"/>
	<joint name="d435i_2_parent_to_camera_link" type="fixed">
       <parent link="d435_2_infra1_optical_parent_link"/>
	   <child link="d435i_2_link"/>
	   <origin xyz="0 0 0" rpy="1.571 -1.571 0.0"/>
	   <axis xyz="1 0 0"/>
	</joint>

    </xacro:macro>
</robot>
