<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="visionv3">
	<!-- body geometric properties xacro:if does not appear to work with this version of xacro.py -->
	<xacro:property name="bodyLength" value="0.83"/>
	<xacro:property name="bodyWidth" value="0.25"/>
	<xacro:property name="bodyHeight" value="0.19"/>
	<xacro:property name="upperLegLength" value="0.34"/>
	<xacro:property name="upperLegtoLowerLegZOff" value="0.0"/>
	<xacro:property name="upperLegWidth" value="0.055"/>
	<xacro:property name="upperLegHeight" value="0.075"/>
	<xacro:property name="lowerLegLength" value="0.3407"/>
	<xacro:property name="lowerLegRadius" value="0.02"/>
	<xacro:property name="podLength" value="0.15"/>
	<xacro:property name="podXOffsetFromOuterEdge" value="0.085"/>
	<xacro:property name="podWidth" value="0.15"/>
	<xacro:property name="podHeight" value="0.09"/>
	<xacro:property name="dPodAxisToEdge" value="0.07"/>
	<xacro:property name="dx" value="0.34385"/>
	<xacro:property name="dy" value="0.092865"/>
	<xacro:property name="toeRadius" value="0.0325"/>
	<xacro:property name="toeOffset" value="0.0"/>
	<xacro:property name="abKinLimit" value="0.43"/>
	<!-- body dynamic properties -->
	<xacro:property name="bodyInertial">
		<mass value="17.9"/>
		<inertia ixx="0.0986"  ixy="0"  ixz="0" iyy="0.8105" iyz="0" izz="0.8369" />
	</xacro:property>
	<xacro:property name="podInertial">
		<mass value="1.975"/>
		<inertia ixx="0.00891458"  ixy="0"  ixz="0" iyy="0.0100573" iyz="0" izz="0.01533698" />
	</xacro:property>
	<xacro:property name="upperLegInertial">
		<mass value="2.525"/>
		<inertia ixx="0.0003125"  ixy="0" ixz="0" iyy="0.0040625" iyz="0" izz="0.0040625" />
	</xacro:property>
	<xacro:property name="lowerLegInertial">
		<mass value="0.375"/>
		<inertia ixx="0.00131075"  ixy="0"  ixz="0" iyy="0.00131075" iyz="0" izz="0.0001" />
	</xacro:property>
	<xacro:property name="toeInertial">
		<mass value="0.15"/>
		<inertia ixx="0.000025"  ixy="0"  ixz="0" iyy="0.000025" iyz="0" izz="0.000025" />
	</xacro:property>
</robot>
