<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensorhead">
    <xacro:macro name="sensorhead" params="body_centric">
        <!-- Traking frame comes from the realsesne _pose_frame which will share the link with realsense_link
                    (parent) d435i_link -> front_sensor_head -> extrinsics_offset_link -> body (childeren) -->

        <!-- Define front sensor head-->
        <link name="front_sensor_head_link"/>
        <xacro:unless value="${body_centric}">
            <link name="gazebo_odom_parent"/>
            <joint name="t265_to_sensor_head" type="fixed">
                <parent link="gazebo_odom_parent"/>
                <child link="front_sensor_head_link"/>
                <origin xyz="-0.06 0.0 -0.0228"
                        rpy="0 0 0"/> <!--  xyz -0.0292 0.0 -0.0507 this is not correct-->
                <axis xyz="1 0 0"/>
            </joint>
        </xacro:unless>

        <!--zed center -->
        <link name="d435i_link"/>
        <link name="d435i_optical_link"/>
        <joint name="fwd_camera_link_to_zed_center" type="fixed">
            <parent link="front_sensor_head_link"/>
            <child link="d435i_link"/>
            <origin xyz="-0.031 0.0 0.0456" rpy="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>
        <joint name="pre_opt_to_d435i_link" type="fixed">
            <parent link="d435i_link"/>
            <child link="d435i_optical_link"/>
            <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>

        <!--forward left tof  link-->
        <link name="left_tof_optical_link"/>
        <link name="left_tof_link"/>
        <joint name="front_sensor_head_to_left_tof_link" type="fixed">
            <parent link="front_sensor_head_link"/>
            <child link="left_tof_link"/>
            <origin rpy="0 0.5235 -0.349" xyz="0.01493 0.033445  -0.00212"/>
            <axis xyz="1 0 0"/>
        </joint>
        <joint name="pre_opt_to_left_tof_link" type="fixed">
            <parent link="left_tof_link"/>
            <child link="left_tof_optical_link"/>
            <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>
        <!--forward right tof link-->
        <link name="right_tof_link"/>
        <joint name="fwd_left_tof_link_to_right_tof_link" type="fixed">
            <parent link="front_sensor_head_link"/>
            <child link="right_tof_link"/>
            <!-- <origin rpy="-0.34 0.5735 -0.13" xyz="0.01961 0.01132 0.06242"/> -->
            <!-- <origin rpy="-0.418 0.557 -0.123" xyz="0.017 0.012 0.067"/> -->
            <origin rpy="0 0.5235 0.349" xyz="0.01493 -0.033445  -0.00212"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="right_tof_optical_link"/>
        <joint name="pre_opt_to_right_tof_link" type="fixed">
            <parent link="right_tof_link"/>
            <child link="right_tof_optical_link"/>
            <origin rpy="-1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>

    </xacro:macro>
</robot>
