<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensorhead">
        <xacro:macro name="sensorhead">
		<!-- Traking frame comes from the realsesne _pose_frame which will share the link with realsense_link
	    (parent) t265_pose_frame -> frontsensorhead -> extrinsics_offset_link -> body (childeren) -->

    <!-- branch 1 -->
    <!--connect to reset of the body -->
    <!-- Define front sensor head. This connects back to the body-->
    <link name="t265_pose_frame"/>
    <link name="front_sensor_head_link"/>
    <joint name="t265_to_sensor_head" type="fixed">
      <parent link="t265_pose_frame"/>
      <child link="front_sensor_head_link"/>
      <origin xyz="0.0292 0.0 -0.0507" rpy="0 0 0"/> 
      <axis xyz="1 0 0"/>
    </joint>

    <!-- branch 2 -->    
    <!-- start here: this defines the entry point for t265 based state estimate-->
    <link name="t265_fisheye1_frame"/>
    <joint name="t265_fisheye1_frame_to_center" type="fixed">
     <parent link="t265_pose_frame"/>
     <child link="t265_fisheye1_frame"/>
     <origin xyz="0.0 0.032 0.0" rpy="0 0 0"/>
     <axis xyz="1 0 0"/>
    </joint>

     <!-- begin branch 2 from t265_fisheye1_frame -->
     <!-- connect to the rest of the sensors -->	
	<link name="t265_fisheye1_optical_frame"/>
	<joint name="t265_left_frame_to_t265_left_optical" type="fixed">
	   <parent link="t265_fisheye1_frame"/>
       <child link="t265_fisheye1_optical_frame"/>
	   <origin xyz="0.0 0.0 0.0"  rpy="-1.571 0 -1.571"/>
       <axis xyz="1 0 0 "/>
	</joint>

    <!-- Left PMD -->     
    <link name="left_tof_optical_parent_frame"/>
    <joint name="t265_left_optical_link_to_left_tof_optical_frame" type="fixed">
      <parent link="t265_fisheye1_optical_frame"/>
      <child link="left_tof_optical_parent_frame"/>
      <origin xyz="-0.0055 0.0504 0.0057" rpy="0.4279 0.5096 1.7882"/>
      <axis xyz="0 0 1"/>
    </joint>

    <link name="left_tof_link"/>
    <joint name="left_tof_parent_to_sensor" type="fixed">
        <parent link="left_tof_optical_parent_frame"/>
        <child link="left_tof_link"/>
        <origin xyz="0 0 0" rpy="1.5708 -1.5708 0 "/>
        <axis xyz="1 0 0"/>
    </joint>

    <!-- Righ PMD -->
    <link name="right_tof_optical_parent_frame"/>
    <joint name="left_tof_optical_frame_to_right_tof_optical_frame" type="fixed">
      <parent link="left_tof_optical_parent_frame"/>
      <child link="right_tof_optical_parent_frame"/>
      <origin xyz="-0.0128 -0.0648 0.0215" rpy="-0.5706 -0.1526 -0.3234"/>
      <axis xyz="0 0 1"/>
    </joint>

    <link name="right_tof_link"/>
    <joint name="right_tof_parent_to_sensor" type="fixed">
        <parent link="right_tof_optical_parent_frame"/>
        <child link="right_tof_link"/>
        <origin xyz="0 0 0" rpy="1.5708 -1.5708 0"/>
        <axis xyz="1 0 0"/>
    </joint>


    </xacro:macro>
</robot>
