<?xml version="1.0" encoding="UTF-8"?>
<!--
MIT License
-->

<launch>
    <arg name="use_interactive" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="publish_state" default="1"/>
    <arg name="SDK_debug_print" default="0"/>
    <arg name="model_name" default="spirit40"/>

    <arg name="odom_frame" default="base_link"/>
    <arg name="body_link" default="$(arg model_name)::$(arg odom_frame)"/>


    <arg name="world" default="simple"/>
    <!--  Sample world with just the robot and a gas station -->
    <arg name="world_file" if="$(eval world == 'simple')"
         value="$(find ghost_gazebo)/worlds/ghost_simple.world"/>
    <!--  Sample world with a simple, default gazebo staircase -->
    <arg name="world_file" if="$(eval world == 'stairs_test')"
         value="$(find ghost_gazebo)/worlds/stairs_test.world"/>
    <!--  Sample world with gazebo staircase with deeper treads -->
    <arg name="world_file" if="$(eval world == 'deeper_stairs')"
         value="$(find ghost_gazebo)/worlds/deeper_stairs_test.world"/>
    <!--  Larger world with 5 different staircases, two levels and walls-->
    <arg name="world_file" if="$(eval world == 'stairs_arena')"
         value="$(find ghost_gazebo)/worlds/stair_test_arena.world"/>
    <!--  Very large, outdoor world with slopes, steps, and other obstacles -->
    <arg name="world_file" if="$(eval world == 'baylands')"
         value="$(find ghost_gazebo)/worlds/ghost_baylands.world"/>
    <!--  World with a person as a scripted actor -->
    <arg name="world_file" if="$(eval world == 'person')"
         value="$(find ghost_gazebo)/worlds/person_actor.world"/>

    <!--  Spawn Location  -->
    <arg name="spawn_location" if="$(eval world == 'simple')" value="-x 0.0 -y 0.0 -z 0.25"/>
    <arg name="spawn_location" if="$(eval world == 'stairs_test')" value="-x 0.0 -y 0.0 -z 0.25"/>
    <arg name="spawn_location" if="$(eval world == 'deeper_stairs')" value="-x 0.0 -y 0.0 -z 0.25"/>
    <arg name="spawn_location" if="$(eval world == 'person')" value="-x 0.0 -y 0.0 -z 0.25"/>
    <arg name="spawn_location" if="$(eval world == 'stairs_arena')"
         value="-x -13.0 -y 3.0 -z 0.25"/>
    <arg name="spawn_location" if="$(eval world == 'baylands')" value="-x -73.0 -y -128.0 -z 1.0"/>

    <!-- Launch the Vision60 world with specific physics parameters -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="physics" value="ode"/>
    </include>

    <!-- SPAWN AN ACTUAL SPIRIT ROBOT -->
    <include ns="$(arg model_name)" file="$(find ghost_gazebo)/launch/spirit40_spawn.launch">
        <arg name="model_name" value="$(arg model_name)"/>
        <arg name="use_interactive" value="$(arg use_interactive)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="publish_state" value="$(arg publish_state)"/>
        <arg name="SDK_debug_print" value="$(arg SDK_debug_print)"/>
        <arg name="spawn_location" value="$(arg spawn_location)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
        <arg name="body_link" value="$(arg body_link)"/>
    </include>

</launch>