<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensorhead">
    <xacro:macro name="sensorhead" params="gazebo body_centric">
        <!-- Traking frame comes from the realsesne _pose_frame which will share the link with realsense_link
        (parent) t265_pose_frame -> frontsensorhead -> extrinsics_offset_link -> body (childeren) -->

        <link name="front_sensor_head_link"/>
        <link name="t265_pose_frame"/>

        <xacro:unless value="$(arg body_centric)">
            <!-- branch 1 -->
            <!--connect to reset of the body -->
            <link name="t265_rot_link"/>
            <link name="gazebo_odom_parent"/>

            <!--    Needed in the sim    -->
            <joint name="gaz_parent_to_t265_pose_frame" type="fixed">
                <parent link="gazebo_odom_parent"/>
                <child link="t265_pose_frame"/>
                <origin xyz="0 0 0" rpy="1.57 0 0"/> <!-- Need a Rolled 90-->
                <axis xyz="1 0 0"/>
            </joint>

            <joint name="t265_pose_frame_to_t265_rot" type="fixed">
                <parent link="t265_pose_frame"/>
                <child link="t265_rot_link"/>
                <origin xyz="0 0 0" rpy="-1.57 0 0"/> <!-- Need a Rolled 90-->
                <axis xyz="1 0 0"/>
            </joint>

            <!-- Define front sensor head. This connects back to the body-->
            <joint name="t265_to_sensor_head" type="fixed">
                <parent link="t265_rot_link"/>
                <child link="front_sensor_head_link"/>
                <origin xyz="-0.06 0.0 -0.0228"
                        rpy="0 0 0"/> <!--  xyz -0.0292 0.0 -0.0507 this is not correct-->
                <axis xyz="1 0 0"/>
            </joint>
        </xacro:unless>


        <xacro:if value="$(arg body_centric)">
            <joint name="t265_to_sensor_head" type="fixed">
                <parent link="front_sensor_head_link"/>
                <child link="t265_pose_frame"/>
                <origin xyz="0.06 0.0 0.0228"
                        rpy="0 0 0"/> <!--  xyz -0.0292 0.0 -0.0507 this is not correct-->
                <axis xyz="1 0 0"/>
            </joint>
        </xacro:if>

        <!-- branch 2 -->
        <!-- start here: this defines the entry point for t265 based state estimate-->
        <link name="t265_fisheye1_frame"/>
        <joint name="t265_fisheye1_frame_to_center" type="fixed">
            <parent link="t265_pose_frame"/>
            <child link="t265_fisheye1_frame"/>
            <origin xyz="0.0 0.032 0.0" rpy="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>

        <!-- begin branch 2 from t265_fisheye1_frame -->
        <!-- connect to the rest of the sensors -->
        <link name="t265_fisheye1_optical_frame"/>
        <joint name="t265_left_frame_to_t265_left_optical" type="fixed">
            <parent link="t265_fisheye1_frame"/>
            <child link="t265_fisheye1_optical_frame"/>
            <origin xyz="0.0 0.0 0.0" rpy="-1.571 0 -1.571"/>
            <axis xyz="1 0 0 "/>
        </joint>

        <xacro:if value="${gazebo}">
            <xacro:property name="optical_suffix" value="link"/>
        </xacro:if>

        <xacro:unless value="${gazebo}">
            <xacro:property name="optical_suffix" value="parent_frame"/>
        </xacro:unless>

        <!-- Left PMD -->
        <link name="left_tof_optical_${optical_suffix}"/>
        <joint name="t265_left_optical_link_to_left_tof_optical_frame" type="fixed">
            <parent link="t265_fisheye1_optical_frame"/>
            <child link="left_tof_optical_${optical_suffix}"/>
            <origin xyz="0.032 0.0941 0.0014" rpy="0.5126 0.5579 -0.0007"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="left_tof_link"/>
        <joint name="left_tof_parent_to_sensor" type="fixed">
            <parent link="left_tof_optical_${optical_suffix}"/>
            <child link="left_tof_link"/>
            <origin xyz="0 0 0" rpy="1.5708 -1.5708 0 "/>
            <axis xyz="1 0 0"/>
        </joint>

        <!-- Right PMD -->
        <link name="right_tof_optical_${optical_suffix}"/>
        <joint name="left_tof_optical_frame_to_right_tof_optical_frame" type="fixed">
            <parent link="left_tof_optical_${optical_suffix}"/>
            <child link="right_tof_optical_${optical_suffix}"/>
            <origin xyz="0.0012 -0.1654 0.0910" rpy="-1.0020 -0.0021 -0.0055"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="right_tof_link"/>
        <joint name="right_tof_parent_to_sensor" type="fixed">
            <parent link="right_tof_optical_${optical_suffix}"/>
            <child link="right_tof_link"/>
            <origin xyz="0 0 0" rpy="1.5708 -1.5708 0"/>
            <axis xyz="1 0 0"/>
        </joint>


    </xacro:macro>
</robot>
